body{
    font-size: 20px;
    text-align: center
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    
    
}
h1{
    font-size: 50px;
}
.red{color: 
    rgb(25, 151, 201);
}
h2{ font-size: 40px;
    display: inline;
}
h3{
    color: rgba(165, 42, 42, 0.5);
}
.flexable{display: 
    flex;
margin-bottom: 100px;}
.half-width{
width: 60%;
padding-left: padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
}
.half-width img{
    width: 80%;
}

.link{
     text-decoration: none;
    background-image: linear-gradient(blue,skyblue);
    padding: 10px 40px;
    font-weight: 600px;
    border-radius: 15px;
    color: white;

}
.full-width img{
    width: 100%;

}
.full-width{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    width:60%
    
    
}

    .click{
        text-decoration: none;
        background-image: linear-gradient(red,pink);
        padding: 10px 40px;
        font-weight: 600px;
        border-radius: 15px;
        color: white;

        }
        .banner{
            background-image: url(shapes/Frame\ 58.jpg);
            background-repeat: no-repeat;
            background-position: left;
            margin: 10px;
        }
        .food-item {
            width: 40%;
            margin-top: 5px;
            margin-left: 5%;
            margin-right: 5%;
            box-shadow: 10px 10px 50px grey;
            text-align: justify;
            padding-left:  5%;
            padding-right: 5%;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 20px;
            text-align:justify
        
          }
          .recipes img{
              width: 100%
    
          }
          .recipes{
              text-align: center;
              margin: 20px;
              padding: 10px;
          }
          .new{
            width: 40%;
            margin-left: 5%;
            margin-right: 5%;
            box-shadow: 10px 10px 50px grey;
            text-align: inline;
            padding-left:  5%;
            padding-right: 5%;
            border-radius: 20px;
    }

    
          
            
        
    